aiogram==3.10.0
fastapi==0.111.1
uvicorn==0.30.3
python-multipart==0.0.9
typesense-python==2.1.1 # FIX: Sahi package ka istemal kiya
python-dotenv==1.0.1
aiofiles==23.2.1
httpx==0.28.1
uvloop
motor==3.7.1
pymongo==4.15.3
certifi==2025.10.5
